/* style.css */

/* Some Global Variables */
/* Gap to edges of page = 150px */

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
}

/* Header text and links formatting */
.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    margin: 0;
    padding: 0 150px;
    justify-content: space-between;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.linklist,
.heroSecond {
    color: #E5E7EB;
    font-size: 18px;
}

.linklist {
    gap: 16px;
}

/* Content block one */
.introBlock {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 100px 150px;
    margin: 0;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.introLeft {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    flex-grow: 0;
}

.heroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
    width: fit-content;
    padding: 8px 32px;
    flex: 0 0 auto;
}

.mainImage {
    flex: 0 1 0;
    max-width: 100%;
    max-height: 220px;
}

/* Second Content Section */

.imageBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.multiImage{
    display: flex;
    gap: 75px;
    align-items: center;
    padding: 0 50px;
    flex-wrap: wrap;
}

.infoHeader{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.smallImage{
    text-align: center;
    margin-top: 50px;
}

.smallImage img {
    border-style: solid;
    border-radius: 20px;
    border-color: blue;
    max-width: 200px;
}

/* Third Content Section */

.quoteBackground{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quoteBlock{
    padding: 50px 100px;
    text-align: left;
    width: 1000px;
    padding: 100px auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoteAuthor{
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

/* Removing bullet points */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

/* Footer */

.footer{
    padding: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callToAction{
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.footer button{
    border-radius: 5px;
    border: 3px solid white;
}

.blueBox{
    background-color: #3882F6;
    width: 1000px;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 100px; 
}